<div class="container">
  <h1>Lista de Compras do Supermercado</h1>

  <div class="input-group">
    <input [(ngModel)]="newItem" placeholder="Adicione um item..." />
    <button (click)="addItem()">Adicionar</button>
  </div>

  <!-- Lista de itens não comprados -->
  <h2>Itens a Comprar</h2>
  <ul>
    <li *ngFor="let item of getUnboughtItems(); let i = index">
      <!-- Se o item está sendo editado, mostrar o campo de entrada -->
      <span *ngIf="editingItem !== i" [class.bought]="item.bought">{{ item.name }}</span>
      <input *ngIf="editingItem === i" [(ngModel)]="editingText" />

      <!-- Botão para alternar entre editar e salvar -->
      <button *ngIf="editingItem !== i" (click)="startEditing(i)">Editar</button>
      <button *ngIf="editingItem === i" (click)="saveEdit(editingItem)">Salvar</button>

      <button (click)="toggleBought(i, false)">✔</button>
      <button (click)="deleteItem(i, false)">
        <i class="fas fa-trash"></i>
      </button>
    </li>
  </ul>

  <!-- Lista de itens comprados -->
  <h2>Itens Comprados</h2>
  <ul>
    <li *ngFor="let item of getBoughtItems(); let i = index">
      <span [class.bought]="item.bought">{{ item.name }}</span>
      <button (click)="toggleBought(i, true)">Desmarcar</button>

      <button (click)="deleteItem(i, true)">
        <i class="fas fa-trash"></i>
      </button>
    </li>
  </ul>
</div>
